
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');


body {
  /*font-family: 'Montserrat', sans-serif !important;*/
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}


/* width */
.sidebar2::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidebar2::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.sidebar2::-webkit-scrollbar-thumb {
  background: #e4e4e4;
    border-radius: 17px;
}

/* Handle on hover */
.sidebar2::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



ul {
  padding-left: 0px;
  list-style-type: none;
}
a:hover {
  text-decoration: none;
}
.btn:hover {
color: #fff;
}

.next-btn {
  background: #2F87FF;
border-radius: 4px;
color: #fff;
font-size: 12px;
font-weight: 600;
font-size: 12px;
line-height: 15px;
padding: 10px 35px;
}

label {
  font-weight: 500;
}
.form-group {
  margin-bottom: 30px !important;
}

.sidebar2 {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 270px ;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.sidebarDiv1 .logo {
  margin-top: 50px;
  margin-bottom: 30px;
}
.sidebarDiv1 ul li {
  padding: 10px 30px;
  font-weight: 500;
}
.sidebarDiv1 ul li:hover {
  background: linear-gradient(90deg, rgba(58, 142, 255, 0.0945) 0%, rgba(58, 142, 255, 0.057) 100%);
}
.sidebarDiv1 ul li:hover a { 
  color: #2F87FF;
}
.sidebarDiv1 ul li a {
  position: relative;
  padding-left: 40px;
  display: block;
  color: #797EB3;
  font-size: 15px;
}
.sidebarDiv1 ul li a img {
  position: absolute;
  left: 0px;
  top: 2px;
}
.sidebarDiv1 .logo img{
  width: 155px;
  display: block;
  margin: 0px auto;

}

.sidebarDiv2 {
  width: 100%;
  padding: 30px;
}
.sidebar2 ul li {
  width: 100%;
    margin-bottom: 0px !important;
}
.sidebarDiv2 ul li {
  font-weight: 500;
  padding: 5px;
}
.sidebarDiv2 ul li:hover {
  background: linear-gradient(90deg, rgba(58, 142, 255, 0.0945) 0%, rgba(58, 142, 255, 0.057) 100%);
}
.sidebarDiv2 ul li:hover a { 
  color: #2F87FF;
}
.sidebarDiv2 ul li a {
  position: relative;
  padding-left: 40px;
  display: block;
  color: #797EB3;
  font-size: 15px;
}
.sidebarDiv2 ul li a img {
  position: absolute;
  left: 0px;
  top: 2px;
}
.main-panel {
  margin-left: 270px;
  background: #F5F7F9;
}
.upgrade-col {
  padding: 30px 25px;
  background: #2F87FF;
  color: #fff;
  box-shadow: 0px 9px 35px rgb(47 135 255 / 22%);
  border-radius: 8px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}
.upgrade-col .btn {
  background-color: #fff;
  color: #2F87FF;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 158px; */
  height: 32px;
  /* left: 54px; */
  /* top: 825px; */
  background: linear-gradient(
270deg
, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 105.96%);
  border-radius: 40px;
}
.upgrade-col .btn img {
  margin-right: 10px;
}
.sidebarDiv2 .logo {
  width: 60%;
  margin: 0px auto;
  display: block;
}

.Ellipse3 {
  position: absolute;
  left: -30px;
  top: -5px;
}
.Ellipse4 {
  position: absolute;
  right: 15px;
  bottom: 20px;
}
.Ellipse5 {
  position: absolute;
  right: 15px;
  bottom: 70px;
}
.Ellipse6 {
  position: absolute;
  top: -15px;
  right: 20px;
}
.header-bar-form .form-control{
  width: 464px;
  height: 44px;
background: #FFFFFF;
border-radius: 40px;
border: none;
font-size: 14px;

padding-left: 50px;
}
.header-bar-form  {
  position: relative;
}
.header-bar-form i {
  position: absolute;
  left: 20px;
  bottom: 15px;
  color: #9094BF;
}
.header-nav {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-nav li:first-child a {
  position: relative;
  margin-right: 20px;
}
.header-nav li:first-child a i {
  font-size: 16px;
}


.notification-li i {
  color: #9094BF;
}
.header-nav li:last-child  a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-nav li:last-child img {
  margin-right: 10px;
}
.header-nav li:last-child p {
  margin-right: 10px;
  margin-bottom: 0px;
  font-size: 15px;
}
.navbar-transparent {
  margin-bottom: 40px;
}
.dropdown-menu-right {
  padding: 8px;
  margin-top: 20px;
}
.content {
  padding: 0px 30px 40px;
}
.title-col h4 {
  font-weight: 600;
}
.user-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}
.user-card .percentage-col {
  display: flex;
  align-items: flex-end;
}
.user-card .percentage-col h3 {
  display: flex;
  align-items: flex-start;
  height: 87px;
  font-weight: 600;
  width: 80%;
}
.user-card .percentage-col h3 span {
  color: #06D6A0;
  font-size: 12px;
  padding-top: 10px;
  margin-left: 10px;
  width: 90px;
}
.user-card .percentage-col h3 span img {
  padding-right: 5px;

}

.user-card .percentage-col .group {
  width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
}
.user-card .percentage-col .group1 {
  background: linear-gradient(317.84deg, rgba(255, 183, 3, 0.15) 13.85%, rgba(255, 183, 3, 0.0435) 84.52%);
}
.user-card .percentage-col .group2 {
  background: linear-gradient(317.84deg, rgba(181, 23, 158, 0.11) 16.47%, rgba(181, 23, 158, 0.0319) 84.42%);
}

.user-card .percentage-col .group3 {
  background: linear-gradient(314.24deg, rgba(247, 37, 133, 0.11) 12.56%, rgba(247, 37, 133, 0.0319) 84.69%);
}
.user-card .percentage-col .group4 {
  background: linear-gradient(318.76deg, rgba(67, 97, 238, 0.11) 16.03%, rgba(67, 97, 238, 0.0319) 89.42%);
}
.user-card>p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
  color: #9094BF;
}




/* footer style start here */

.footer-section2 {
  padding-top: 50px !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px !important; 
  margin-top: 50px;
  background: #E9EEF3;
}
.footer-section a,
.footer-bar a {
  color: rgba(54, 69, 76, 1);
}
.footer-logo-col ul {
  display: flex;
  align-items: center;
}
.footer-logo-col img {
  width: 105px;
  margin-bottom: 30px;
}
.footer-logo-col p {
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer-logo-col ul li + li {
  margin-left: 10px;
}
.footer-logo-col ul li a {
  width: 24px;
  height: 24px;
  color: rgba(11, 61, 128, 1);
  background-color: #dfe8f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
}
.footer-pages-col h5,
.reachUs-col h5 {
  color: rgba(11, 61, 128, 1);
  font-weight: 600;
  margin-bottom: 30px;
}
.footer-pages-col li,
.reachUs-col li {
  margin-bottom: 25px;
}
.reachUs-col li {
  position: relative;
  padding-left: 30px;
}
.reachUs-col li i {
  position: absolute;
  left: 0;
  top: 6px;
  color: #2f87ff;
  font-size: 18px;
}
.reachUs-col li:nth-of-type(2) i {
  left: 4px;
  top: 3px;
}
.reachUs-col li:nth-of-type(3) i {
  left: 3px;
  top: 1px;
}
.terms-condition {
  text-align: right;
}
.terms-condition li a {
  font-size: 14px;
}
.footer-bar2 {
  background-color: #f2f9ff;
  padding: 30px 15px 15px;
}
.terms-condition li {
  height: 10px;
}
.terms-condition li + li {
  border-left: 1px solid #000;
}
.terms-condition li + li a {
  padding-left: 8px;
  height: 15px;
  margin-top: -6px;
  display: block;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.group-information-col .form-control{
  border: 1px solid #D2D3E4;
box-sizing: border-box;
border-radius: 8px;
font-size: 14px;
height: 46px;
}

.user-card2 {
  padding: 30px;
}
.group-information>h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.group-information>p {
  font-size: 15px;
}


.Previous-Quote {
    padding: 30px 0px;
}
.kMXuPO:first-child {
    padding-left: 40px !important;
     
}
.kMXuPO:last-child {
    padding-right: 40px !important;
       
}
.kMXuPO {
     padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.jkEUmm {
    color: #9094BF !important;
    font-weight: 500 !important;
    
    font-size: 15px !important;
}
.add-employee-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-employee-title h4 {
    margin-bottom: 0px;
}
.add-employee-title .btn {
    background: #2F87FF;
border-radius: 4px;
color: #fff;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.add-employee-title .btn img {
    margin-right: 8px;
}
.add-employee-col .rdt_TableCell a:first-child {
    margin-right: 10px;
    background: #FF932F;
}
.add-employee-col .rdt_TableCell a {
    background: #EF476F;
border-radius: 3px;
color: #fff;
display: inline-block;
font-size: 12px;
padding: 9px 17px 9px 15px;
}
.add-employee-col .rdt_TableCell a  i {
    margin-right: 8px;
}
.add-employee-titlt i {
    margin-right: 10px;
}


/*file pond style start here*/
.filepond--drop-label label{
    display: none !important;
}
.filepond--panel-root {
    background-color: transparent !important; 
    border: 1px dashed #D2D3E4 !important;
}
.upload-img-col {
    position: relative;
}
.upload-img-col .upload-img-logo {
    position: absolute;
    top: 45px;
    text-align: center;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0px auto;
}
.upload-img-col .upload-img-logo a {
    color: #2F87FF;
}
.filepond--wrapper {
    cursor: pointer;
}
.filepond--credits {
    display: none !important;
}
.client-Details-tabs {
    padding: 0px;
    overflow: hidden;
}

.client-Details-tabs .nav-tabs .nav-link {
    border: none;
    font-size: 14px;
    color: #9094BF;
}
.client-Details-tabs .nav-tabs {

    border: none;
    background: rgba(47, 135, 255, 0.03);
    padding-top: 10px;
    padding-left: 25px;
}
.client-Details-tabs .nav-tabs .nav-item {
    margin-bottom: -3px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2F87FF;
}
.change-census-col h5 {
    margin-bottom: 20px;
    
}
.change-census-col p {
    margin-bottom: 20px;
    
}
.change-census-col .census-btn {
    border: 1px solid #CFD1E4;
    box-sizing: border-box;
    border-radius: 40px;
    color: #000;
    padding: 7px 10px;
    display: block;
    margin: 0px auto;
    width: 143px;
    font-size: 12px;
}
.change-census-col .custome-border {
    border-bottom: 1px solid #CFD1E4;
    display: block;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.change-census-col2 h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.change-census-col2 ul {
       padding: 0px 52px 00px;
    font-size: 14px;
    position: relative;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.change-census-col2 ul li {
    margin-bottom: 8px;
}
.change-census-col2 .custom-checkbox {
    position: absolute;
}
.change-census-col2>img {
    padding-top: 15px;
    margin-bottom: 25px;
    width: 50%;
}
.change-census-col2 .custome-border {
    border-bottom: 1px solid #CFD1E4;
    display: block;
  
 
    margin-top: 25px;
    margin-bottom: 25px;
}
.change-census-col2 ul  .more-details-span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255 255 255 / 75%);
    text-align: center;
    display: block;
    padding: 0px 0px 0px;
}

.change-census-col2 ul .more-details-span .more-details {
    background: #ECECF4;
    border-radius: 40px;
    font-size: 12px;
    padding: 8px 32px 8px;
    display: inline-block;
}

.change-census-col2 .select-btn {
    background: #6A3AD2;
    border-radius: 40px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    width: 157px;
    padding: 8px 5px;
    display: block;
    margin: 0px auto;
}
.cencus-table thead th {
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #9094BF;
    font-size: 15px;
    font-weight: 500;
}

.cencus-table td {
    padding: 20px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cencus-table td:last-child {
    position: relative;
}
.cencus-table .minus-btn {
    width: 23.33px;
    height: 23.33px;
    background: #E6EBF0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
     cursor: pointer;
    font-size: 11px;
    position: absolute;
    right: 0px;
    top: 32px;
}

.plus-btn {
        width: 31px;
    height: 31px;
    background: #6A3AD2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: -22px;
    margin-left: 5px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}
.nextBtn.btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: unset;
}

.prevBtn.btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: unset;
}
.plus-btn:hover {
    color: #fff;
}
.calculate-btn-col {
    justify-content: flex-start;
    margin-top: 30px;
}
.calculate-btn-col .Previous-btn{
    background: rgba(47, 135, 255, 0.15);
    color: #2F87FF;
    margin-right: 10px;
    font-weight: 600;
}

.calculate-btn-col .Calculate-btn{
    color: #fff;
    font-weight: 600;
}
.close-btn-col .btn i {
    margin-right: 5px;
}
.close-btn-col .close-btn {
    background: rgba(47, 135, 255, 0.15);
    color: #2F87FF;
    margin-right: 10px;
    font-weight: 600;
    
}
.add-employee-title>h4 i {
    margin-right: 20px;
} 

.calculat-card {
    padding-bottom: 200px;
}
.calculate-bottom-col {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
.change-cencus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.change-cencus-btn .btn {
    font-size: 12px;
    border: 1px solid #CFD1E4;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: transparent !important;
    color: #000;
}


.hide-toggle {
    cursor: pointer;
    display: none;
}

.provider-btn {
    justify-content: space-between;
}
.change-census-col2 ul li {
    margin-bottom: 8px;
    display: inline-block;
    display: inline-block;
}
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img-col {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.user-img-col img{
    width: 100%;
    height: auto;
    
}
.header-nav li:first-child a {
    position: relative;
    margin-right: 20px;
    display: flex;
    align-items: center;
}




@media(min-width: 768px) and (max-width: 1400px) {
.change-census-col2 ul {
    list-style: disc;
    padding: 0px 15px 20px;
    font-size: 12px;
    position: relative;
}
}
@media(max-width: 767px) {

.main-panel {
    margin-left: 0px;
}

}











